#footer {
  background: rgba(0, 0, 0, 0.75);
  height: 167px;
}

.footer-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-item {
  color: gray;
}

.footer-item.top {
  margin-top: 35px;
  margin-bottom: 25px;
}

.footer-item.bottom {
  margin-top: 15px;
  display: flex;
  width: 270px;
  justify-content: space-between;
}

.footer-item.bottom p {
  font-size: 15px;
}