header {
  position: relative;
}

.nav-bar.signed-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 5;
  width: 100%;
  box-sizing: border-box;
  padding: 1vw;
}

.nav-bar.signed-out {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 12px;
  position: relative;
  top: 0;
  left: 0;
  width: auto;
  z-index: 20;
}

.logo {
  position: relative;
  height: 60px;
  width: 220px;
  left: 30px;
}

.logo-link {
  position: relative;
  left: 1.7vw;
  margin-right: 1.1vw;
}

.logo-small {
  height: 1.8vw;
  width: 7.05vw;
}

.nav-bar-button {
  background: #E51314;
  height: 34px;
  padding: 0px 17px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  border-radius: 3px;
  margin-right: 51px;
  margin-top: 9px;
}

.search-bar-container {
  color: white;
  position: absolute;
  right: 9vw;
  height: 1.5vw;
  display: flex;
}

.search-bar-container:hover {
  cursor: pointer;
}

.search-bar-container .search {
  background: transparent;
  color: white;
  font-size: 1vw;
  margin-right: 0.5vw;
}

.search-input {
  transition: width 1s cubic-bezier(0.00, 0.8, 0.000, 1.0);
}

.search-input.showing {
  width: 13vw;
  opacity: 1;
  pointer-events: all;
  background: transparent;
  border: 1px double white;
}

.search-input.not-showing {
  width: 0px;
  opacity: 0;
  pointer-events: none;
}

.user-logo-container {
  position: relative;
  right: 2.9vw;
}

.user-logo {
  height: 1.67vw;
  width: 2.1vw;
  margin-right: 7px;
}

.user-logo:hover {
  cursor: pointer;
}

.user-logo + span {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  left: 0px;
}

.dropdown-tooltip {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 7px solid white;
  position: absolute;
  top: 42px;
  right: 27px;
}

.dropdown {
  box-sizing: border-box;
  width: 180px;
  background: rgba(0, 0, 0, 0.95);
  top: 49px;
  position: absolute;
  right: -2px;
  box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.5);
  padding: 23px 12px;
  padding-bottom: 14px;
  color: white;
  border: 1px groove dimgray;
}

.dropdown-item {
  font-size: 13px;
  margin-bottom: 15px;
}

.dropdown .border {
  border: 0.5px solid gray;
  margin-bottom: 12px;
  margin-top: 25px;
}

.dropdown-item.logout {
  font-weight: bold;
  margin-bottom: 0px;
  background-color: Transparent;
  border: none;
  overflow: hidden;
  outline:none;
  color: white;
}

.dropdown-container {
  display: flex;
  align-items: center;
}

.dropdown-container:hover {
  cursor: pointer;
}

.nav-bar-links-container {
  position: relative;
  display: flex;
  width: 13.5vw;
  justify-content: space-evenly;
  align-self: center;
  right: 35vw;
  bottom: 0.5vh;
}

.nav-bar-link {
  color: lightgray;
  text-decoration: none;
  font-size: 0.8vw;
}

.nav-bar-link.active {
  font-weight: bold;
  color: white;
}