.search-index-container, .my-list-index-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  overflow-x: hidden;

  -webkit-animation: fadein 500ms; /* Safari, Chrome */	
  -moz-animation: fadein 500ms; /* Firefox*/	
  -ms-animation: fadein 500ms; /* Internet Explorer */	
  -o-animation: fadein 500ms; /* Opera */	
  animation: fadein 500ms;
}

#search-index-empty, #my-list-index-empty {
  width: 100%;
  height: 7.5vw;
  content: "";
  z-index: -1;
}

#my-list-index-empty {
  height: 11.5vw;
}

.my-list-header {
  position: absolute;
  top: 4.1vw;
  left: 3.1vw;
  color: white;
  font-size: 2vw;
}

.search-video-container, .my-list-video-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.search-no-results-container, .my-list-no-results-container {
  display: flex;
  justify-content: center;
  height: 12vw;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  font-size: 0.8vw;
  pointer-events: none;
  user-select: none;
}

/* ------- SEARCH ERRORS ------- */

#did-not-match {
  margin-bottom: 4%;
}

#suggestions {
  align-self: flex-start;
  margin-bottom: 4%;
}

.error-suggestions-list {
  align-self: flex-start;
  padding-left: 10%;
}

/* -------- LIST ERRORS -------- */

#no-titles {
  font-size: 1.2em;
  color: #666666;
}