.search-index-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  overflow-x: hidden;

  -webkit-animation: fadein 500ms; /* Safari, Chrome */	
  -moz-animation: fadein 500ms; /* Firefox*/	
  -ms-animation: fadein 500ms; /* Internet Explorer */	
  -o-animation: fadein 500ms; /* Opera */	
  animation: fadein 500ms;
}

#search-index-empty {
  width: 100%;
  height: 7vw;
  content: "";
  z-index: -1;
}

.search-video-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}