.session-form-container {
  width: 100%;
}

.session-form-div {
  width: 314px;
  height: 560px;
  margin: 0 auto;
  border-radius: 7px;
  background: rgb(0, 0, 0); /* for older browsers */
  background: rgba(0, 0, 0, 0.75);
  padding: 60px 68px 40px;
}

.session-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.session-form h1 {
  font-size: 32px;
  color: white;
  margin-bottom: 35px;
}

.session-form .input {
  box-sizing: border-box;
  width: 314px;
  height: 48px;
  padding: 20px;
  padding-top: 28px;
  background-color: #333333;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
}

.session-form .input.error {
  border-bottom: 2px solid #E87C03;
}

.email-placeholder {
  position: relative;
  top: 33px;
  left: 20px;
  color: gray;
  pointer-events: none;
}

.password-placeholder {
  position: relative;
  top: 33px;
  left: 20px;
  color: gray;
  pointer-events: none;
}

.focused, .non-active {
  top: 22px;
  font-size: 10px;
  height: 16px;
}

.session-form input::-webkit-input-placeholder {
  color: gray;
  padding-left: 20px;
}
.session-form input::-moz-placeholder {
  color: gray;
  padding-left: 20px;
}
.session-form input:-ms-input-placeholder {
  color: gray;
  padding-left: 20px;
}
.session-form input::placeholder {
  color: gray;
  padding-left: 20px;
}

.session-form button {
  margin-top: 40px;
  background-color: #E51314;
  color: white;
  padding: 14px 18px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 4px;
}

.signup-link {
  color: #737373;
  position: absolute;
  top: 700px;
}

.signup-link a {
  text-decoration: none;
  color: white;
}

.signup-link a:visited {
  color: white;
}

.signup-link a:hover {
  text-decoration: underline;
}

.invalid-credentials-error {
  background-color: #E87C03;
  padding: 11px 22px;
  color: white;
  font-size: 15px;
  margin-bottom: 2px;
  border-radius: 4px;
}

.error {
  color: #E87C03;
  font-size: 13px;
  padding-top: 8px;
  padding-left: 4px;
}