.video-index-container {
  overflow-x: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.video-main-container {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 55vw;
}

.main-video {
  width: 100%;
  height: 55vw;
}

.video {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 55vw;
  z-index: -1;
}

/* ------- BELOW MAIN VIDEO ------- */

.video-row-container {
  position: relative;
  top: 60px;
  width: 100%;
}

.video-row-outer {
  display: flex;
  padding: 55px 0px;
}

.video-row-inner {
  display: flex;
}

.video-demo-thumbnail {
  width: 25vw;
  height: auto;
}

.video-item {
  list-style-type: none;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid black;
  flex-shrink: 0;

  width: 25vw;
  height: auto;

  /* what happens when you hover over a thumbnail */
  /* transition: all .2s ease-in-out; */

  animation-duration: 3s;
  animation-name: slidein;
}

.video-item:hover {
  /* the scale by which the thumbnail expands */
  /* transform: scale(1.5); */
}

/* ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
} */

.left-button {
  position: absolute;
}

.right-button {
  position: absolute;
  right: 0;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}