/* ------- THUMBNAIL VIDEO ITEMS ------- */

.video-item {
  list-style-type: none;
  box-sizing: border-box;
  flex-shrink: 0;
  max-width: 16.3333333337%;
  transition: all 300ms ease-out;
  position: relative;
  margin: 0 0.168%;
  display: grid;
  max-height: 9vw;
  min-width: 16.3333333337%;
}

.video-text {
  position: absolute;
  right: 50%;
  bottom: 50%;
  color: white;
}

.video-item:hover {
  transform: scale(1.9) !important;
  transition-delay: 400ms;
}

.first.video-item {
  transform-origin: center left !important;
  z-index: 4;
}

/* move all the thumbnails to the right */	
.first.video-item:hover ~ .video-item {	
   transform: translate3d(90%, 0, 0);	
   transition-delay: 400ms;	
}

.last.video-item {
  transform-origin: center right !important;
}

/* ------- BACKGROUND VIDEO ITEMS ------- */

.inbackground-video-item {
  /* -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important; */

  list-style-type: none;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 16.3333333337%;
  height: auto;
  transition: all 300ms ease-out;
  position: relative;
  margin: 0 0.168%;
  
  display: grid;
}

[class='inbackground-video-item'] {
  background-color: rgba(0,0,0,0.6);
}

.main.inbackground-video-item {
  border: .5vh solid white;
}

.main.inbackground-video-item::after {
  content: "";
  position: absolute;
  z-index: 20;
  bottom: -1.3vh;
  left: 50%;

  border-top: 0.8vh solid white;
  border-left: 1.1vh solid transparent;
  border-right: 1.1vh solid transparent;
  border-bottom: 0;
  
  transform: translateX(-50%);
  /* transition: opacity 400ms ease; */
}

.inbackground-video-item:hover {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/* ------- THUMBNAIL & BACKGROUND DETAILS ------- */

.thumbnail-details-container, .background-details-container {
  opacity: 0;
  position: absolute;
  color: white;
  max-height: 9vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: opacity 400ms linear;
  min-height: 9vw;
}

.video-item:hover .thumbnail-details-container, .background-details-container {
  opacity: 1;
  transition-property: opacity;
  transition-delay: 350ms;
  transition-duration: 400ms;
}

.background-details-container {
  align-items: center;
}

.thumbnail-details {
  padding-left: 0.5vw;
  padding-bottom: 0.2vw;
  display: flex;
  flex-direction: column;
  position: relative;
}

.background-details {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto;
}

.thumbnail-details, .thumbnail-details h3, .thumbnail-details p {
  font-size: 0.55vw;
  text-shadow: 1px 1px 5px black;
}

.thumbnail-details h3 {
  margin-bottom: 0.5vh;
}

.thumbnail-details h2 {
  margin-bottom: 0.5vh;
  font-weight: normal;
}

.thumbnail-details a {
  text-decoration: none;
  color: white;
}

.thumbnail-details a:visited {
  text-decoration: none;
  color: white;
}

.details-play-icon {
  font-size: 1.6vw;
  margin-bottom: 0.6vh;
}

.background-play-icon {
  font-size: 4vw;
}

.details-play-icon:hover, .details-down-arrow:hover {
  color: red;
  cursor: pointer;
}

.background-play-icon:hover, .background-link:hover {
  color: red;
  cursor: pointer;
}

.item-list-link {
  align-self: flex-end;
  position: absolute;
  bottom: 1vh;
  right: 0.7vw;
}

.details-down-arrow {
  display: block;
  text-align: center;
  margin-bottom: 0.3vh;
  color: white;
  font-size: 1.5vw;
}

.background-down-arrow {
  display: block;
  text-align: center;
  z-index: 20;
  color: white;
  font-size: 3.5vh;
  margin-bottom: 0.3vh;
}

.background-link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-height: 9vw;
  min-height: 9vw;
}